{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<a class="btn btn-sm btn-info" href="{% url 'single-hood' user.profile.neighbourhood.id %}">&laquo Back</a><br>

<table class="table table-striped table-dark" style="border-top: 5px;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
  {% for member in members%}
    <tr>
      <th scope="row">*</th>
      <td>{{ member.user.username }}</td>
      <td>{{ member.location}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}